.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.login-label {
  margin-bottom: 4px;
  font-weight: 500;
}

.login-button {
  margin-top: 12px;
  align-self: center;
  width: 100%;
}
